<head>
    <title>Home Page</title>
</head>
<body>
<h3>Welcome Back , <span th:text="${userName}"> </span> </h3>
    <h1>Tile: Description</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam animi cupiditate, delectus deserunt eaque enim eum illum ipsa laboriosam molestiae numquam obcaecati omnis pariatur quasi qui saepe sapiente similique ut, vel vitae? Alias corporis debitis deleniti esse fugiat ipsam, unde! Consequatur delectus dolorem eveniet inventore nulla perferendis, quaerat sit tempore?</p>
</body>